<%- include ('../partials/header.ejs'); -%> 
    <%- include ('../partials/topbarAdmin.ejs'); -%> 
    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/sidebarAdmin.ejs'); -%> 
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Dashboard</h1>
                 
                </div>
        
                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <nav class="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb ">
                    <li class="breadcrumb-item bread"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp Home</li>
                    </ol>
                  </nav>
                </div>
                <%- include ('../partials/footer.ejs'); -%> 
        
             
        
                
              </main>

        </div>
        

    </div>
   
    




