<nav class="navbar sticky-top  flex-md-nowrap p-0 shadow" style="background-color:#040b14;">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 sidebar_name" href="#"><i class="fa fa-school fa-fw" aria-hidden="true"></i><span style="font-family: 'Courier New', monospace;">&nbsp Jupyter HRM System</span></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars fa-fw" style="color:white;" aria-hidden="true"></i></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp Sign out</a>
      </li>
    </ul>
</nav>