.fa{
        width: 26px;
        margin-left:20px;
        opacity: .99;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        -webkit-font-smoothing: antialiased;
      }
    .text{
        
      padding-left: 23px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 0;
      text-shadow: 1px 1px #000;


      }